header {
  font-size: 25px;
  margin: 10px 0 25px 90px;
}

#new-game {
  cursor: pointer;
}

#game-container {
  height: 300px;
  width: 300px;
}

.tile {
  float: left;
  height: 100px;
  width: 100px;
  border: 1px solid #000;
  background: green;
  font-size: 100px;
  text-align: center;
  cursor: pointer;
}

.win {
  background: red;
}
